.avatar {
	// .avatar__label

	&__label {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 11px;
		margin-bottom: 20px;
		width: max-content;
		transform: color 0.24s ease-in-out;
		cursor: pointer;

		&:hover {
			color: #096601;

			.avatar__input-text {
				background-color: #daffd7;
				color: $text;
			}
		}
		@include mobile {
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
		}
	}

	// .avatar__text

	&__text {
		font-weight: 300;

		@include mobile {
			font-size: 14px;
		}
	}

	// .avatar__input-wrapper

	&__input-wrapper {
		position: relative;
	}

	// .avatar__input

	&__input {
		position: absolute;
		transform: scale(0);

		&:focus + .avatar__input-text {
			background-color: #daffd7;
			border: 1px solid #096601;
		}
	}

	// .avatar__input-text

	&__input-text {
		display: inline-block;
		padding: 10px 20px;
		border: 1px solid #12df00;
		border-radius: 4px;

		@include mobile {
			font-size: 14px;
		}
	}

	// .avatar__result

	&__result {
	}
}
