.modal {
	position: fixed;
	inset: 0;
	z-index: 999;
	padding: 40px;
	display: none;
	background-color: rgba(#000000, 0.6);
	overflow-y: auto;
	cursor: pointer;

	@include tablet {
		padding: 20px;
	}

	@include mini {
		padding: 0;
	}

	// .modal__title

	&__title {
		margin-bottom: 24px;
		font-weight: 400;
		font-size: 24px;
		text-align: center;

		@include mobile {
			font-size: 18px;
		}
	}

	// .modal__body

	&__body {
		position: relative;
		margin: auto;
		padding: 24px 20px 48px;
		border-radius: 12px;
		max-width: 768px;
		width: 100%;
		background-color: #f2f5fc;
		cursor: default;

		@include mini {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	// .modal__container

	&__container {
		margin: 0 auto;
		max-width: 632px;
	}

	// .modal__close

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		background-color: #fff;
		transform: translate(50%, -50%);
		color: #7b7b7b;
		transition: color 0.24s ease-in-out;

		&:hover {
			color: #000;
		}

		@include mini {
			transform: none;
			box-shadow: 0 0 10px 10px #ccc;
		}
	}
}
